<div class="content-wrapper">
    <form [formGroup] = "skillForm">
        <div class="in-row">
            <div class="mid-in">
                <label for="name">Skill</label>
                <input type="text" formControlName = "skillName" placeholder="James" required>
            </div>
            <div class="mid-in">
                <label for="lname">Skill Level</label>
                <select formControlName = "skillLevel">
                    <option value="">Basic</option>
                    <option value="">Intermediate</option>
                    <option value="">Advance</option>
                </select>
            </div>
        </div>
        <div class="in-row">
            <div class="mid-in">
                <label for="name">Skill</label>
                <input type="text" formControlName = "skillName" placeholder="James" required>
            </div>
            <div class="mid-in">
                <label for="lname">Skill Level</label>
                <select formControlName = "skillLevel">
                    <option value="">Basic</option>
                    <option value="">Intermediate</option>
                    <option value="">Advance</option>
                </select>
            </div>
        </div>
        <div class="in-row">
            <div class="mid-in">
                <label for="name">Skill</label>
                <input type="text" formControlName = "skillName" placeholder="James" required>
            </div>
            <div class="mid-in">
                <label for="lname">Skill Level</label>
                <select formControlName = "skillLevel">
                    <option value="">Basic</option>
                    <option value="">Intermediate</option>
                    <option value="">Advance</option>
                </select>
            </div>
        </div>
        <div class="button-box">
            <button (click)="onBack()">Back</button>
            <button (click)="onNext()">Next</button>
        </div>
    </form>
</div>