<div class="page-wrapper">
    <nav>
        <div class="title">
            <a href="">Resume Builder</a>
        </div>
        <div class="log-user">
            <p>Jane Doe</p>
        </div>
    </nav>

    <div class="main-wrapper">
        <div class="progress-bar">
            some progress bar
        </div>
        <div class="form-box">
            <app-personal></app-personal>
            <app-education></app-education>
            <app-work-experience></app-work-experience>
            <div class="button-box">
                <button>Cancel</button>
                <button>Next</button>
            </div>
        </div>

      
    </div>
</div>