<div class="content-box">
    <form action="">
        <div class="in-row">
            <div class="mid-in">
                <label for="name">Name</label>
                <input type="text" placeholder="James" required>
            </div>
            <div class="mid-in">
                <label for="lname">Last Name</label>
                <input type="text" placeholder="Doe" required>
            </div>
        </div>
        <div class="long-in">
            <label for="address">Address</label>
            <input type="text" placeholder="your address">
        </div>
        <div class="in-row">
            <div class="mid-in">
                <label for="name">City</label>
                <input type="text" placeholder="NeyTork" required>
            </div>
            <div class="sub-row">
                <div class="small-in">
                    <label for="lname">Zip Code</label>
                    <input type="number" placeholder="452XXX" required>
                </div>
                <div class="small-in">
                    <label for="lname">Country</label>
                    <input type="text" placeholder="India" required>
                </div>
            </div>
            
        </div>
        <div class="in-row">
            <div class="mid-in">
                <label for="name">Email</label>
                <input type="email" placeholder="jamesdoe@mail.com" required>
            </div>
            <div class="mid-in">
                <label for="lname">Number</label>
                <input type="number" placeholder="96XXXX00XX" required>
            </div>
        </div>
    </form>
</div>
