.content-box{
    width: 100%;
    padding: 1rem;
    .head-wrap{
        h1{
            font: normal normal 600 22px/12px Soleil;
            letter-spacing: 1.5px;
            margin: 15px 0;
        }
        h5{
            font: normal normal normal 14px/12px Soleil;
            letter-spacing: 1px;
        }
    }
    form{
        width: 100%;
        .in-row{
            display: flex;
            justify-content: space-between;
            .mid-in{
                display: flex;
                flex-direction: column;
                width: 45%;
                margin: 15px 0;
                label{
                    font: normal normal 600 14px/12px Soleil;
                    letter-spacing: 0.80px;
                    margin: 10px 0;
                }
                input{
                    height: 35px;
                    border-radius: 5px;
                    padding: 0 5px;
                    border: 1px solid #CCCCCC;
                }
            }
            .sub-row{
                width: 45%;
                display: flex;
                justify-content: space-between;
                margin: 15px 0;
                .small-in{
                    display: flex;
                    flex-direction: column;
                    width: 45%;
                    
                    label{
                        font: normal normal 600 14px/12px Soleil;
                        letter-spacing: 0.80px;
                        margin: 10px 0;
                    }
                    input{
                        height: 35px;
                        border-radius: 5px;
                        padding: 0 5px;
                        border: 1px solid #CCCCCC;
                    }
                }
            }
        }
        .long-in{
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 15px 0;
            label{
                font: normal normal 600 14px/12px Soleil;
                letter-spacing: 0.80px;
                margin: 10px 0;
            }
            input{
                height: 35px;
                border-radius: 5px;
                padding: 0 5px;
                border: 1px solid #CCCCCC;
            }
        }
        .button-box{
            display: flex;
            justify-content: flex-end;
            button{
                width: 80px;
                height: 38px;
                border-radius: 4px;
                border: none;
                background: cornflowerblue;
                margin: 0 15px;
                cursor: pointer;
            }
        }
    }
}
