<div class="content-box">
    <form [formGroup]="personalForm">
        <div class="in-row">
            <div class="mid-in">
                <label for="name">First Name</label>
                <input [class.is-invalid]= "personalForm.get('fname').invalid && personalForm.get('fname').touched" type="text" placeholder="James" formControlName="fname"  required>
            </div>
            <div class="mid-in">
                <label for="lname">Last Name</label>
                <input [class.is-invalid]= "personalForm.get('lname').invalid && personalForm.get('lname').touched" type="text" placeholder="Doe" formControlName="lname"  required>
            </div>
        </div>
        <div class="long-in">
            <label for="address">Address</label>
            <input [class.is-invalid]= "personalForm.get('address').invalid && personalForm.get('address').touched" type="text" placeholder="your address" formControlName="address" >
        </div>
        <div class="in-row">
            <div class="mid-in">
                <label for="name">City</label>
                <input type="text" placeholder="NeyTork" formControlName="city"  required>
            </div>
            <div class="sub-row">
                <div class="small-in">
                    <label for="lname">Zip Code</label>
                    <input type="number" placeholder="452XXX" formControlName="zip"  required>
                </div>
                <div class="small-in">
                    <label for="lname">Country</label>
                    <input type="text" placeholder="India" formControlName="country"  required>
                </div>
            </div>
            
        </div>
        <div class="in-row">
            <div class="mid-in">
                <label for="name">Email</label>
                <input [class.is-invalid]= "personalForm.get('email').invalid && personalForm.get('email').touched" type="email" placeholder="jamesdoe@mail.com" formControlName="email" required>
            </div>
            <div class="mid-in">
                <label for="lname">Number</label>
                <input [class.is-invalid]= "personalForm.get('number').invalid && personalForm.get('number').touched" type="number" placeholder="96XXXX00XX" formControlName="number"  required>
            </div>
        </div>

        <div class="button-box">
            <button (click)="onCancel()">Cancel</button>
            <button (click)="onNext()">Next</button>
        </div>
    </form>
</div>
