<div class="content-wrapper">
  <form action="">
    <div class="in-row">
      <div class="mid-in">
        <label for="name">Company Name</label>
        <input type="text" placeholder="Wipro" required>
      </div>
      <div class="mid-in">
        <label for="lname">Job Title</label>
        <input type="text" placeholder="Software Developer Intern" required>
      </div>
    </div>

    <div class="in-row">
      <div class="mid-in">
        <label for="name">City</label>
        <input type="text" placeholder="Wipro" required>
      </div>
      <div class="mid-in">
        <label for="lname">State</label>
        <input type="text" placeholder="Bengaluru" required>
      </div>
    </div>

    <div class="in-row">
      <div class="sub-row">
        <div class="small-in">
          <label for="lname">Start Date</label>
          <select name="" id="">
            <option value="">January</option>
            <option value="">Februray</option>
            <option value="">March</option>
            <option value="">May</option>
            <option value="">June</option>
            <option value="">July</option>
          </select>
        </div>
        <div class="small-in">
          <label for="lname">Country</label>
          <select name="" id="">
            <option value="">2005</option>
            <option value="">2006</option>
            <option value="">2007</option>
            <option value="">2008</option>
            <option value="">2009</option>
            <option value="">2010</option>
            <option value="">2011</option>
            <option value="">2012</option>
            <option value="">2013</option>
            <option value="">2014</option>
            <option value="">2015</option>
            <option value="">2016</option>
            <option value="">2017</option>
          </select>
        </div>
      </div>

      <div class="sub-row">
        <div class="small-in">
          <label for="lname">Start Date</label>
          <select name="" id="">
            <option value="">January</option>
            <option value="">Februray</option>
            <option value="">March</option>
            <option value="">May</option>
            <option value="">June</option>
            <option value="">July</option>
          </select>
        </div>
        <div class="small-in">
          <label for="lname">Country</label>
          <select name="" id="">
            <option value="">2005</option>
            <option value="">2006</option>
            <option value="">2007</option>
            <option value="">2008</option>
            <option value="">2009</option>
            <option value="">2010</option>
            <option value="">2011</option>
            <option value="">2012</option>
            <option value="">2013</option>
            <option value="">2014</option>
            <option value="">2015</option>
            <option value="">2016</option>
            <option value="">2017</option>
          </select>
        </div>
      </div>
    </div>
    <div class="long-in">
      <textarea name="" id="" placeholder="Description of work u done." required></textarea>
    </div>
  </form>
</div>