<div class="content-wrapper">
  <div class="head-wrap">
    <h1>Work Experience Information</h1>
    <h5>A form for all the past work experiences.</h5>
  </div>
  <form [formGroup] = "workForm">
    <div class="content-box"  *ngFor="let item of addWork.controls">
      <div class="in-row">
        <div class="mid-in">
          <label for="name">Company Name</label>
          <input type="text" [formControl]="item.get('companyName')" placeholder="Wipro" required>
        </div>
        <div class="mid-in">
          <label for="lname">Job Title</label>
          <input type="text" [formControl]="item.get('jobTitle')" placeholder="Software Developer Intern" required>
        </div>
      </div>
  
      <div class="in-row">
        <div class="mid-in">
          <label for="name">City</label>
          <input type="text" [formControl]="item.get('city')" placeholder="Wipro" required>
        </div>
        <div class="mid-in">
          <label for="lname">State</label>
          <input type="text" [formControl]="item.get('state')" placeholder="Bengaluru" required>
        </div>
      </div>
  
      <div class="in-row">
        <div class="sub-row">
          <div class="small-in">
            <label for="lname">Start Month</label>
            <select name="" id="" [formControl]="item.get('startMonth')">
              <option value="">January</option>
              <option value="">Februray</option>
              <option value="">March</option>
              <option value="">May</option>
              <option value="">June</option>
              <option value="">July</option>
            </select>
          </div>
          <div class="small-in">
            <label for="lname">Start Year</label>
            <select name="" id=""  [formControl]="item.get('startYear')">
              <option value="">2005</option>
              <option value="">2006</option>
              <option value="">2007</option>
              <option value="">2008</option>
              <option value="">2009</option>
              <option value="">2010</option>
              <option value="">2011</option>
              <option value="">2012</option>
              <option value="">2013</option>
              <option value="">2014</option>
              <option value="">2015</option>
              <option value="">2016</option>
              <option value="">2017</option>
            </select>
          </div>
        </div>
  
        <div class="sub-row">
          <div class="small-in">
            <label for="lname">End Month</label>
            <select name="" id="" [formControl]="item.get('endMonth')">
              <option value="">January</option>
              <option value="">Februray</option>
              <option value="">March</option>
              <option value="">May</option>
              <option value="">June</option>
              <option value="">July</option>
            </select>
          </div>
          <div class="small-in">
            <label for="lname">End Year</label>
            <select name="" id="" [formControl]="item.get('endYear')">
              <option value="">2005</option>
              <option value="">2006</option>
              <option value="">2007</option>
              <option value="">2008</option>
              <option value="">2009</option>
              <option value="">2010</option>
              <option value="">2011</option>
              <option value="">2012</option>
              <option value="">2013</option>
              <option value="">2014</option>
              <option value="">2015</option>
              <option value="">2016</option>
              <option value="">2017</option>
            </select>
          </div>
        </div>
      </div>
      <div class="long-in">
        <textarea [formControl]="item.get('description')" placeholder="Description of work u done." required></textarea>
      </div>
    </div>
    <div class="button-box">
      <button (click)="onBack()">Back</button>
      <button (click)="onNext()">Next</button>
      <button class="add" (click)=" onAddForm()">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
        Add Another
      </button>
    </div>
  </form>
</div>