<div class="resume-wrapper">
    <div class="main-box">
        <div class="intro-wrap">
            <h1>John Doe</h1>
            <h5>Backend Developer</h5>
        </div>
        <div class="body-wrap">
            <div class="left-wrap">
                <div class="info-wrap">
                    <div class="title-wrap">
                        <h4>Contact</h4>
                    </div>
                    <div class="list-box">
                        <ul>
                            <li>
                                Phone : 98255226xx
                            </li>
                            <li>
                                mail : sam@mail.com
                            </li>
                            <li>
                                Address : c-lane 65a sams road,Indore,India - 458554
                            </li>
                            <li>
                                git : github.com
                            </li>
                            <li>
                                linkden : lindeks.com
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="education-wrap">
                    <div class="title-wrap">
                        <h4>Education</h4>
                    </div>
                    <div class="sub-head">
                        <h6>University</h6>
                        <div class="list-box">
                            <h1>College Name or University</h1>
                            <ul>
                                <li>City and Country</li>
                                <li>Degree Name</li>
                                <li>Field</li>
                                <li>Fromto till date</li>
                            </ul>
                        </div>
                    </div>

                    <div class="sub-head">
                        <h6>School</h6>
                        <div class="list-box">
                            <h1>College Name or University</h1>
                            <ul>
                                <li>City and Country</li>
                                <li>Degree Name</li>
                                <li>Field</li>
                                <li>Fromto till date</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-wrap">
                <div class="work-wrap">
    
                </div>
                <div class="skill-wrap">
    
                </div>
            </div>
        </div>      
    </div>
</div>