/* You can add global styles to this file, and also import other style files */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
}
html{
    padding: 0px!important;
    margin: 0px!important;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Soleil';
    font-style: normal;
    font-weight: 400;
    src: local('Soleil'), url('https://fonts.cdnfonts.com/s/48710/SoleilRegular.woff') format('woff');
}

@font-face {
    font-family: 'Soleil';
    font-style: normal;
    font-weight: 400;
    src: local('Soleil'), url('https://fonts.cdnfonts.com/s/48710/SoleilBook.woff') format('woff');
}