<div class="content-box">
    <div class="head-wrap">
        <h1>Education Information</h1>
        <h5>A form for all the past education.</h5>
    </div>
    <form action="">
        <div class="type-block" [formGroup]="uniForm">
            <h4 >University</h4>
            <div class="in-row">
                <div class="mid-in">
                    <label for="name">University/College Name</label>
                    <input type="text" [class.is-invalid]= "uniForm.get('uniName').invalid && uniForm.get('uniName').touched" placeholder="James" formControlName="uniName" required>
                </div>
                <div class="mid-in">
                    <label for="lname">Select a Degree</label>
                    <select formControlName="uniDegree">
                        <option value="">High School</option>
                        <option value="">Diploma</option>
                        <option value="">Bachelors of Science</option>
                        <option value="">Bachelors of Technology</option>
                    </select>
                </div>
            </div>

            <div class="in-row">
                <div class="mid-in">
                    <label for="name">Field Name</label>
                    <input type="text" [class.is-invalid]= "uniForm.get('uniFieldName').invalid && uniForm.get('uniFieldName').touched" placeholder="ex Computer Science" formControlName="uniFieldName" required>
                </div>
                <div class="sub-row">
                    <div class="small-in">
                        <label for="lname">From</label>
                        <!-- <input type="month" formControlName="uniStartDate" required> -->
                        <input type="number" min="1960" max="2022" step="1" value="2016" formControlName="uniStartDate" placeholder="2016" required/>
                    </div>
                    <div class="small-in">
                        <label for="lname">Graduation Year</label>
                        <!-- <input type="month" formControlName="uniEndDate" required> -->
                        <input type="number" min="1960" max="2022" step="1" value="2016" placeholder="2022" formControlName="uniEndDate"/>
                    </div>
                </div>
            </div>

            <div class="in-row">
                <div class="mid-in">
                    <label for="name">City</label>
                    <input type="text" [class.is-invalid]= "uniForm.get('uniCity').invalid && uniForm.get('uniCity').touched" placeholder="NeYork" formControlName="uniCity" required>
                </div>
                <div class="mid-in">
                    <label for="name">Country</label>
                    <input type="text" [class.is-invalid]= "uniForm.get('uniCountry').invalid && uniForm.get('uniCountry').touched" placeholder="USA" formControlName="uniCountry" required>
                </div>
            </div>
        </div>

        <div class="type-block" [formGroup]="schoolForm">
            <h4>School</h4>
            <div class="in-row">
                <div class="mid-in">
                    <label for="name">University/College Name</label>
                    <input type="text" [class.is-invalid]= "schoolForm.get('schoolName').invalid && schoolForm.get('schoolName').touched" placeholder="James" formControlName="schoolName" required>
                </div>
                <div class="mid-in">
                    <label for="lname">Select a Degree</label>
                    <select name="" id="" formControlName="schoolDegree">
                        <option value="">Science</option>
                        <option value="">Commerce</option>
                        <option value="">Commerce + Maths</option>
                    </select>
                </div>
            </div>

            <div class="in-row">
                <div class="mid-in">
                    <label for="name">Field Name</label>
                    <input type="text" [class.is-invalid]= "schoolForm.get('schoolFieldName').invalid && schoolForm.get('schoolFieldName').touched" placeholder="ex PCM" formControlName="schoolFieldName" required>
                </div>
                <div class="sub-row">
                    <div class="small-in">
                        <label for="lname">From</label>
                        <!-- <input type="date" formControlName="schoolStartDate" required> -->
                        <input type="number" min="1960" max="2022" step="1" value="2016" [class.is-invalid]= "schoolForm.get('schoolStartDate').invalid && schoolForm.get('schoolStartDate').touched" placeholder="2016" formControlName="schoolStartDate" required>
                    </div>
                    <div class="small-in">
                        <label for="lname">Graduation Year</label>
                        <!-- <input type="date" formControlName="schoolEndDate" required> -->
                        <input type="number" min="1960" max="2022" step="1" value="2016" [class.is-invalid]= "schoolForm.get('schoolEndDate').invalid && schoolForm.get('schoolEndDate').touched" placeholder="2022" formControlName="schoolEndDate" required>
                    </div>
                </div>
            </div>

            <div class="in-row">
                <div class="mid-in">
                    <label for="name">City</label>
                    <input type="text" [class.is-invalid]= "schoolForm.get('schoolCity').invalid && schoolForm.get('schoolCity').touched" placeholder="NeYork" formControlName="schoolCity" required>
                </div>
                <div class="mid-in">
                    <label for="name">Country</label>
                    <input type="text" [class.is-invalid]= "schoolForm.get('schoolCountry').invalid && schoolForm.get('schoolCountry').touched" placeholder="USA" formControlName="schoolCountry" required>
                </div>
            </div>
        </div>
        <div class="button-box">
            <button (click)="onBack()">Back</button>
            <button (click)="onNext()">Next</button>
        </div>
    </form>
</div>