<div class="page-wrapper">
    <div class="content-box">
        <form action="">
            <div class="type-block">
                <label for="">University</label>
                <div class="in-row">
                    <div class="mid-in">
                        <label for="name">University/College Name</label>
                        <input type="text" placeholder="James" required>
                    </div>
                    <div class="mid-in">
                        <label for="lname">Select a Degree</label>
                        <select name="" id="">
                            <option value="">High School</option>
                            <option value="">Diploma</option>
                            <option value="">Bachelors of Science</option>
                            <option value="">Bachelors of Technology</option>
                        </select>
                    </div>
                </div>

                <div class="in-row">
                    <div class="mid-in">
                        <label for="name">Field Name</label>
                        <input type="text" placeholder="ex Computer Science" required>
                    </div>
                    <div class="sub-row">
                        <div class="small-in">
                            <label for="lname">From</label>
                            <input type="date" required>
                        </div>
                        <div class="small-in">
                            <label for="lname">Graduation Date</label>
                            <input type="date" required>
                        </div>
                    </div>
                </div>

                <div class="in-row">
                    <div class="mid-in">
                        <label for="name">City</label>
                        <input type="text" placeholder="NeYork" required>
                    </div>
                    <div class="mid-in">
                        <label for="name">Country</label>
                        <input type="text" placeholder="USA" required>
                    </div>
                </div>
            </div>

            <div class="type-block">
                <label for="">School</label>
                <div class="in-row">
                    <div class="mid-in">
                        <label for="name">University/College Name</label>
                        <input type="text" placeholder="James" required>
                    </div>
                    <div class="mid-in">
                        <label for="lname">Select a Degree</label>
                        <select name="" id="">
                            <option value="">Science</option>
                            <option value="">Commerce</option>
                            <option value="">Commerce + Maths</option>
                        </select>
                    </div>
                </div>

                <div class="in-row">
                    <div class="mid-in">
                        <label for="name">Field Name</label>
                        <input type="text" placeholder="ex PCM" required>
                    </div>
                    <div class="sub-row">
                        <div class="small-in">
                            <label for="lname">From</label>
                            <input type="date" required>
                        </div>
                        <div class="small-in">
                            <label for="lname">Graduation Date</label>
                            <input type="date" required>
                        </div>
                    </div>
                </div>

                <div class="in-row">
                    <div class="mid-in">
                        <label for="name">City</label>
                        <input type="text" placeholder="NeYork" required>
                    </div>
                    <div class="mid-in">
                        <label for="name">Country</label>
                        <input type="text" placeholder="USA" required>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>